<!DOCTYPE html>
<html>
    <head>
        <title><%= pageTitle %></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <%- include('header')%>
        <%- include('style')%>
        
        <div style="margin-top:100px">
            <%for(var j=1;j<=50;) { %>
            <div class="container row">
                <%for(var i=j;i<j+10;i++){
                    if(seatno.includes(i)){
                    %>
                    <div class="col-md-1 col-md-offset-2">
                        <button type="button" class="btn-outline-primary btn-lg disabled" style="size: 50px" id=<%=i%> onclick=show(<%=i%>)>S<%=i%></button>
                    </div>
                    <% }else{%>
                        <div class="col-md-1 col-md-offset-2">
                            <button type="button" class="btn-outline-primary btn-lg active" onclick="openForm(<%=i%>)" style="size: 50px" id=<%=i%>>S<%=i%></button>
                        </div>
                <%      }
                    } %>
                <br/>
            </div>
            <% 
                j = i;
                } %>
            <div class="form-popup" id= "seatForm" style="display: none; align:middle"> 
            <form action='/book' method='post'>
                <h1>Book Seat</h1>
                <label>Name</label>
                <input type="text" name="Name" value=""><br/>
                <label>Age</label>
                <input type="number" name="Age" value=""><br/>
                <label>SeatNo</label>
                <input type="number" name="SeatNo"id="SeatNo" readonly><br/>
                <label>Date</label>
                <input type="date" name="Date" id="date"><br/>
                <label>Time</label>
                <input type="time" name="ShowTime" id="time"><br/>
                <button class="btn" type="submit" name="submit" onclick="closeForm()">Confirm Booking</button>
            </form>
             </div>
        </div>
        <script>
            function openForm(i) {
                formElement = document.getElementById("seatForm").style.display="block";
                seatNo = document.getElementById("SeatNo");
                seatNo.value=i;
                //seatNo.readonly=true;
                console.log(Date.now);
                formElement.style.opacity="0.8"
                document.getElementById('date').value = Date.now.toISOString()
            }

            function closeForm() {
                document.getElementById("seatForm").style.display = "none";
            }
        </script>
    </body>
</html>